name: Deploy .NET API to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      RAILWAY_PROJECT_ID: 0152fc48-48df-4531-91f3-139d8d74a279
      RAILWAY_ENV_ID: d7df6b8b-8def-4a3c-a8f2-c02f585d5781
      RAILWAY_SERVICE_ID: c3dabf71-757f-4090-9b05-a1ef18f477a6

    steps:
    - uses: actions/checkout@v3

    - name: Create .env file to upload
      run: |
        echo CONNECTION_STRING="${{ secrets.CONNECTION_STRING }}" >> vars.env
        echo SECRET_KEY="${{ secrets.SECRET_KEY }}" >> vars.env
        echo MAIL_PASSWORD="${{ secrets.MAIL_PASSWORD }}" >> vars.env
        echo PAYPAL_CLIENT_ID="${{ secrets.PAYPAL_CLIENT_ID }}" >> vars.env
        echo PAYPAL_CLIENT_SECRET="${{ secrets.PAYPAL_CLIENT_SECRET }}" >> vars.env
        echo PAYOS_CLIENT_ID="${{ secrets.PAYOS_CLIENT_ID }}" >> vars.env
        echo PAYOS_API_KEY="${{ secrets.PAYOS_API_KEY }}" >> vars.env
        echo PAYOS_CHECKSUM="${{ secrets.PAYOS_CHECKSUM }}" >> vars.env
        echo FIREBASE_CONFIG_BASE64="${{ secrets.FIREBASE_CONFIG_BASE64 }}" >> vars.env

    - name: Upload env file to Railway Environment
      run: |
        curl -X POST https://backboard.railway.app/graphql \
        -H "Authorization: Bearer $RAILWAY_TOKEN" \
        -F "variables=@vars.env" \
        -F "query=
          mutation UploadVariables(\$projectId: String!, \$environmentId: String!) {
            variablesUpload(
              input: {
                projectId: \$projectId,
                environmentId: \$environmentId
              }
            )
          }" \
        -F "operationName=UploadVariables" \
        -F "map={\"variables\":\"variables\"}" \
        -F "projects={\"projectId\": \"$RAILWAY_PROJECT_ID\", \"environmentId\": \"$RAILWAY_ENV_ID\"}"

    - name: Trigger Deploy
      run: |
        curl -X POST https://backboard.railway.app/graphql \
        -H "Authorization: Bearer $RAILWAY_TOKEN" \
        -H "Content-Type: application/json" \
        -d "{\"query\": \"mutation { deployService(input: { serviceId: \\\"$RAILWAY_SERVICE_ID\\\" }) }\"}"
